// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* --**VARIABLES CSS**-- */
:root {
    // colors
    --gradient-color: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
    --first-color: hsl(243, 100%, 93%);
    --tooltip-color: hsl(229, 7%, 55%);
    --bgContent-color: hsl(228, 56%, 26%);
    --bgIcon-color: hsl(229, 57%, 11%);

    //font and typography

    --body-font: "Raleway", sans-serif;

    --biggest-font-size: 3.5rem;
    --big-font-size: 3rem;
    --huge-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;

    @media screen and (min-width: 968px) {
        --big-font-size: 4.5rem;
        --biggest-font-size: 6rem;
        --huge-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight
    --font-normal: 400;
    --font-bold: 700;

    //Margin
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    //z-index

    --z-normal: 1;
    --z-tooltip: 10;
}
/* --**BASIC**-- */

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);

    line-height: 1.6;
    position: relative;
}
h1,
p {
    margin: 0;
}
h1 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    //display: block;
}

/* --**CSS CLASS**-- */
.section {
    padding: 2rem;
    &__title {
        font-size: var(--h1-font-size);
    }
    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
    }
}
.section__title,
.section__subtitle {
    text-align: center;
}

/* --**LAYOUT**-- */

.container {
    justify-content: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --**CONTENT**-- */
.content {
    width: 100vw;
    // border: 1px solid red;
}

/* --**first-data*-- */
.first-data__content {
    max-width: 300px;
    height: 225px;
    // border-top-right-radius: 5rem;
    border-radius: 1rem 5rem 1rem 1rem;
    background-color: var(--bgContent-color);
}
.logo {
    margin: var(--mb-4) 0;
}
.icon {
    background-color: var(--bgIcon-color);
    padding: 1rem;
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    border-radius: 0.7rem;
}
.first-data__logo,
.first-data__images {
    padding: 0.5rem 2rem;
}
/* --**second-data*-- */
.second-data__content {
    max-width: 300px;
    min-height: 150px;
    border-radius: 1rem;
    background-color: var(--bgContent-color);
}
