@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* --**VARIABLES CSS**-- */
:root {
  --gradient-color: (hsl(6, 100%, 80%) to hsl(335, 100%, 65%));
  --first-color: hsl(243, 100%, 93%);
  --tooltip-color: hsl(229, 7%, 55%);
  --bgContent-color: hsl(228, 56%, 26%);
  --bgIcon-color: hsl(229, 57%, 11%);
  --body-font: "Raleway", sans-serif;
  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;
  --font-normal: 400;
  --font-bold: 700;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.5rem;
    --biggest-font-size: 6rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* --**BASIC**-- */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  position: relative;
}

h1,
p {
  margin: 0;
}

h1 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --**CSS CLASS**-- */
.section {
  padding: 2rem;
}

.section__title {
  font-size: var(--normal-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* --**LAYOUT**-- */
.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #0c122c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* --**CONTENT**-- */
.content {
  width: 100vw;
}

/* --**first-data*-- */
.first-data__content {
  max-width: 325px;
  height: 225px;
  border-radius: 1rem 5rem 1rem 1rem;
  background-color: var(--bgContent-color);
}

.logo {
  margin: var(--mb-4) 0;
}

.icon {
  background-color: var(--bgIcon-color);
  padding: 1rem;
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 0.7rem;
}

.first-data__logo,
.first-data__images {
  padding: 0.5rem 2rem;
}

/* --**second-data*-- */
.second-data__content {
  max-width: 325px;
  height: 155px;
  border-radius: 1rem;
  background-color: var(--bgContent-color);
  position: relative;
  padding: 0.5rem 2rem;
}

.section__tooltip {
  background-color: var(--first-color);
  color: var(--tooltip-color);
  min-width: 145px;
  height: 65px;
  border-radius: 0.4rem;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  font-size: 0.7rem;
  font-weight: var(--font-bold);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.number {
  color: var(--bgIcon-color);
  font-size: 2.5rem;
}

.range {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1444px;
  }
  .first-data__content {
    width: 450px;
    max-width: unset;
  }
  .second-data__content {
    max-width: unset;
    width: 700px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section__tooltip {
    min-width: 145px;
    min-height: 100px;
    border-radius: 0.4rem;
    position: absolute;
    top: -45px;
    left: 355px;
    -webkit-clip-path: polygon(53% 0, 100% 0, 100% 59%, 100% 100%, 81% 68%, 50% 68%, 21% 68%, 0 68%, 0 35%, 0 0);
            clip-path: polygon(53% 0, 100% 0, 100% 59%, 100% 100%, 81% 68%, 50% 68%, 21% 68%, 0 68%, 0 35%, 0 0);
    padding: unset;
    font-size: 0.7rem;
    font-weight: var(--font-bold);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: right;
  }
  .number {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1rem;
  }
  .info {
    position: absolute;
    left: 85px;
    top: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .section__tooltip {
    left: 450px;
  }
}
/*# sourceMappingURL=style.css.map */